.btn-rounded-corner {
    border-radius: 30px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.card-lists {
    height: 35rem;
}

.card-img-thumbnail {
    height: 18rem;
    width: 100%;
    object-fit: contain;
}

.table-img-preview {
    object-fit: contain;
    height: 50px;
    width: 50px;
    border-radius: 12px;
    border: rgb(206, 204, 204) solid 0.8px;
}

.custom-img-preview {
    object-fit: contain;
    width: 100%;
    height: 200px;
}

.form-control-color {
    width: 5vw;
}

@media screen and (max-width: 768px) {
    .form-control-color {
        width: 10vw;
    }
}
